<div class="card-columns">
  <% @tasks.each do |task| %>
    <div class="card">
      <%= image_tag task.photo, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= task.name %></h5>
        <p class="card-text"><%= task.description %></p>
        <small class="text-muted">Last updated <%= time_ago_in_words(task.updated_at)%> ago</small>
      </div>
    </div>
  <% end %>
</div>
