<div class="row">
  <div class="col-4">
    <div class="card">
      <%= image_tag @task.photo, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= @task.name %></h5>
        <p class="card-text"><%= @task.description %></p>
      </div>
    </div>    
  </div>
  <div class="col-4">

  </div>
  <div class="col-4">

  </div>
</div>
